:root {
    --color1: #8e44ad;
    --color2: #ecf0f1;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    min-height: 100vh;
    color: var(--color1);
}

.homepage {
    height: 100vh;
    width: 100%;
    text-align: center;
}

.homepage h1 {
    font-weight: 100;
    font-size: 4rem;
    padding: 0rem 1rem;
}

.homepage p {
    padding-bottom: 2rem;
    padding-top: 1rem;
    font-weight: 100;
}

.homepage a {
    text-decoration: none;
    font-weight: 100;
    font-size: 2rem;
    color: var(--color1);
    padding: 1rem;
    margin: 0.5rem 1rem;
    border: 2px solid var(--color1);
    border-radius: 5px;
    transition: 0.1s linear;
}

.homepage a:hover {
    cursor: pointer;
    background-color: var(--color1);
    color: var(--color2);
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background-color: var(--color2);
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: var(--color1);
    animation: animate 25s linear infinite;
    bottom: -150px;
    opacity: 0.4;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 45px;
    height: 45px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@media screen and (max-width: 600px) and (min-width: 500px) {
    .homepage a {
        text-decoration: none;
        font-weight: 100;
        font-size: 1.4rem;
        margin: 0;
        padding: 0.5rem;
        background-color: var(--color1);
        color: var(--color2);
    }
    
}

@media screen and (max-width: 600px) and (min-width: 200px) {
    .homepage h1 {
        font-size: 2.5rem;
    }
    .homepage a {
        text-decoration: none;
        font-weight: 100;
        font-size: 1rem;
        margin: 0;
        padding: 0.5rem;
        background-color: var(--color1);
        color: var(--color2);
    }
    
}

.page3 {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--color2);
    min-height: 100vh;
}

.page3 .maindiv {
    padding: 3rem;
}

.page3 .maindiv h1 {
    font-weight: 100;
    color: var(--color1);
    font-size: 3rem;
    word-wrap: break-word;
    margin-bottom: 2rem;
}

.page3 .maindiv h1 span {
    font-weight: 400;
}

.page3 .maindiv .card {
    border: 1px solid var(--color1);
    text-align: center;
    color: var(--color1);
    height: auto;
    margin: 2rem 0;
}

.page3 .maindiv .card .btn {
    background-color: var(--color1);
    color: white;
    border: 1px solid var(--color2);
    font-weight: 100;
}

.page3 .maindiv .card .btn svg {
    margin: 5px 7px;
}

.page3 .maindiv .card .btn:hover {
    background-color: white;
    color: var(--color1);
    border: 1px solid var(--color1);
}

.page3 .maindiv .card .intents {
    color: var(--color1);
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .content1, .page1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .content1 h1 {
        font-size: 3rem;
    }

    .content1 p {
        font-size: 1.1rem;
    }

    .text {
        font-size: 3rem;
    }

    .typed-cursor {
        font-size: 3rem;
    }

    .joinclub {
        margin: 0 auto;
    }

    .logoimg {
        height: 6rem;
    }
}

@media screen and (max-width: 1000px) and (min-width: 760px) {
    .content1 h1 {
        font-size: 8rem;
    }

    .content1 p {
        font-size: 2rem;
    }

    .joinclub {
        font-size: 2rem;
    }

    .logoimg {
        height: 10rem;
    }

    .icon svg {
        width: 4rem;
        height: 4rem;
    }

    .topnav {
        font-size: 3rem;
    }

    .iconsvg svg {
        width: 3rem;
        height: 3rem;
    }
}